<!DOCTYPE html>
<html>
<head>
    <title>Guest Book</title>
</head>
<body>
    <h1>Guest Book</h1>
    <form action="{{ url_for('clear_guestbook') }}" method="GET" style="margin-top:10px;">
        <button type="submit">Clear All Entries</button>
    </form>


    <form method="POST">
        <input type="text" name="name" placeholder="Your name" required><br>
        <textarea name="message" placeholder="Your message" required></textarea><br>
        <button type="submit">Sign Guestbook</button>
    </form>

    <hr>

    <h2>Entries:</h2>
    {% if entries %}
        <ul>
            {% for entry in entries %}
                <li><strong>{{ entry.name }}</strong>: {{ entry.message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No messages yet.</p>
    {% endif %}
</body>
</html>
